---
const { href, title } = Astro.props;
---

<section id={title} class=" flex flex-row justify-start gap-4 align-middle text-middle scroll-m-[80px]">
    <div class="grow border-r-2 border-accent text-left p-4">
        <h1 class="text-black font-[700] text-[3rem] md:font-[400] md:text-[36px]">{title}</h1>
        <p class="font-[700] text-[16px]">UBC - Engineering Physics</p>
        <hr class="h-[1px] border-none bg-black mb-1"/>
        <p class="font-[400] text-[14px]">I am an Engineering student on a full scholarship from Zimbabwe. I am interested in firmware development, machine learning and backend web development.</p>
    </div>
        <div class="ml-[40px] py-10 flex flex-col md:flex-wrap justify-start gap-3 w-auto flex-nowrap pr-10">
            <slot />
        </div>
</section>
