---

---

<nav class="flex flex-col gap-2 p-4 w-60 sticky top-0">
    <a href="/" class="font-bold text-lg hover:cursor-pointer">Chayce Ross</a>
    <hr class="mb-10 border border-b-2 border-black rounded-sm" />
    <a href="/projects" class="">Projects</a>
    <a href="/about" class="">About</a>
    <a href="/resume" class="">Resume</a>
</nav>
