---
interface Props {
    heading : string
    date : string
}

const {heading, date} = Astro.props;
import Layout from "./Layout.astro"
import '../styles/content.css' 
---

<main class="overflow-y bg-white w-full md:w-[60%] md:min-w-[800px] flex flex-col justify-start shadow-lg my-10 rounded-md pb-4">
<h1 class="self-center text-[4rem] font-[500] text-primary mb-[-1.5rem] mt-2 ">{heading}</h1>
<h3 class="self-center text-[1.5rem] font-[300] text-primary-light font-serif m-0 ">{date}</h3>
<hr class="mt-2 mb-4 mx-2 bg-primary-light h-[1px] border-none"> 
<div class="content flex flex-col px-10">
    <slot/>
</div>
</main>
<link>
